<div class="container">
  <div class="row mb-5">
    <div class="col-6 latest-article mt-5" [routerLink]="['/section/', lastArticle?.type, lastArticle?.id]">

      <div class="article-image">
        <img src="{{lastArticle?.img}}"
             width="550px" height="360px">
      </div>
      <br>
      <ul>
        <li class="llist type"><a href="">Problem</a></li>
        <li class="llist difficulty"><a href="" [class.red-border]="lastArticle?.difficulty == 'hard'"
                                        [class.orange-border]="lastArticle?.difficulty == 'medium'"
                                        [class.green-border]="lastArticle?.difficulty == 'easy'">Difficulty: {{lastArticle?.difficulty}}</a></li>
      </ul>

      <p class="h1 my-4 title">{{lastArticle?.title}}</p>
      <p class="h4 subtitle">{{lastArticle?.subtitle}}</p>

    </div>

    <div class="col-6 pl-10 pt-5">
      <a [routerLink]="['section/news']"><div class="news-title h2">News</div></a>
      <ul>
          <li *ngFor="let item of news | sortByDate; let i = index" [attr.data-index]="i">
            <div [class.news-noline]="i == 2"
                 [class.news]="i < 2" [routerLink]="['/section/', item.typeCode, item.id]">
              <p class="h5">{{item.title}}</p>
              <p class="date">{{item.date | date}}</p>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
