<div class="container">

  <div class="articles">
    <ul class="content">
      <li *ngFor="let article of articles">
        <a href="">
          <div class="line"></div>
          <div class="row">
            <div class="col-5">
              <img src="{{article.img}}" alt=""
                   width="100%" height="120%">
            </div>
            <div class="col-7">
              <ul class="my-2">
                <li class="llist type"><a href="">{{article.type}}</a></li>
                <li class="llist difficulty"><a href=""
                                                [class.red-border]="article.difficulty == 'Hard'"
                                                [class.orange-border]="article.difficulty == 'Medium'"
                                                [class.green-border]="article.difficulty == 'Easy'"
                >Difficulty: {{article.difficulty}}</a></li>
              </ul>
              <div class="title">
                <p class="h1">{{article.title}}</p><br>
                <p class="h4">{{article.subtitle}}</p>
              </div>
            </div>
          </div>
        </a>

      </li>
    </ul>
  </div>
</div>
