<header>
  <div class="container">
    <nav class="navbar navbar-expand">
      <a class="mr-15" [routerLink]="['']">
        <img src="../../../../assets/logo.svg" width="200" height="55">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li *ngFor="let section of sections" class="nav-item">
            <a class="nav-link" [routerLink]="['section/', section.typeCode]">{{section.type}}</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['about']">About</a></li>
        </ul>
      </div>
      <div class="authorize">
        <a [routerLink]="['login']" class="nav-link">Log in</a>
      </div>
    </nav>
  </div>
</header>
