.back {
  background-color: #2d2838;
}

img {
  width: 60%;
  margin: 50px 0;
}

.llist {
  display: inline;
  margin-right: 20px;
  border: solid 1px #000;
  padding: 10px 16px;
}

.difficulty {
  border: solid 1px #605e5e;
}

.type {
  border: solid 1px white;
  color: white;
  cursor: pointer;
}

.type:hover {
  border: solid 1px red;
  transition: 0.3s;
}

.red-border {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.orange-border {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

.green-border {
  color: limegreen;
  text-decoration: none;
  cursor: pointer;
}

.title {
  color: white;
  margin-left: 40px
}

.desc {
  margin-left: 60px
}

.content {
  font-size: 25px;
  margin: 50px 100px;
  font-family: Calibri;
}
